html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.add-category-container, .selection-info {
  display: none;
  padding: 20px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

.navbar {
  background-color: #975d19;
}

.container-fluid {
  column-gap: 20px;
}

.themed-grid-col {
  background-color: rgb(95, 150, 196);
  
}

section {
  padding: 5% 25%;
}

#container {
  background-image: url("auto_background.jpg");
  height: auto;
  height: auto;
  }

.pair-card, .pair-item {
  background-color: hsla(360, 0%, 100%, 0);
  border: 0px;
  padding: 5px;
  }
.btn {
  background-color: #112d37;
}

#new-pair-btn {
  background-color: #3d7da5;
}

